<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form action="/process" method="post">
    	<input type="text" name="your_name" placeholder="enter your name" />
    	<input type="submit" value="Submit your name" />
    </form>
  </body>
</html>